eth-account==0.5.9
Flask==1.1.2
pysha3==1.0.2
requests==2.22.0
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
eth-keyfile>=0.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
